*{
    margin: 0;
    padding: 0;
}
#bloc1{
    background-image: url(images/ocean.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 600px;
}
#bloc1 h1{
    color: whitesmoke;   
    font-size: 55px;
}

#bloc2{
    background-color: rgba(194, 194, 194, 0.2);
    height: auto;
    
}

.bi {
    color: rgb(18, 117, 209);
    font-size: 30px;
}
#bloc6{
    background-color: rgba(194, 194, 194, 0.2);
    height: auto;
    background-size: cover;
}
#bloc7{
    background-image: url(images/ocean.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 300px;
}
#bloc7 h1{
    color: whitesmoke;   
    font-size: 45px;
}
@media (max-width: 576px) { 
#bloc7 h1{
    color: whitesmoke;   
    font-size: 30px;
}
 }
 @media (max-width: 576px) {
#bloc8{
    align-items: center;
    justify-content: center;
    text-align: center;
}
#bloc8 #res{
    margin-top: 10px;
}
}
@media (max-width: 430px) {
    #bloc1 h1{
        font-size: 35px;
    }
#bloc8{
    background-color: rgba(194, 194, 194, 0.2);
}  
@media (max-width: 821px) {
    #bloc3 h2, p {
        font-size: 8px;
    }
